body {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  color: #3C3C3C;
  background: #FFFFFF;
  user-select: none;
}

a {
  color: #3C3C3C;
  text-decoration: none;
}

$title-bar-size: 12px;
$title-bar-padding: 16px;

#title-bar {
  width: 100%;
  height: $title-bar-size;
  padding: $title-bar-padding;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  z-index: 2147483647;
  // NOTE: https://electronjs.org/docs/api/frameless-window
  -webkit-app-region: drag;

  .window-control-button {
    width: $title-bar-size;
    height: $title-bar-size;
    border-radius: 100%;
    margin-right: 8px;
    cursor: pointer;
    -webkit-app-region: no-drag;

    &.close {
      background: #FE4C48;

      &:hover {
        background: #EA3834;
      }
    }

    &.dock {
      background: #FEB53C;

      &:hover {
        background: #EAA128;
      }
    }

    &.scale {
      background: #2AC145;

      &:hover {
        background: #16AD31;
      }
    }
  }
}

nav {
  width: calc(200px - 32px);
  height: calc(100vh - #{$title-bar-size + $title-bar-padding} - 24px - 24px);
  padding-top: $title-bar-size + $title-bar-padding + 24px;
  padding-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background: #F5F5F5;

  .menu {
    padding: 8px;
    font-weight: bold;
    font-size: 10px;
    margin-top: 8px;
    line-height: 12px;
    border-radius: 4px;
    cursor: pointer;

    &.active, &:hover {
      background: #EBEBEB;
    }

    span {
      font-family: CONDENSEicon;
      margin-right: 8px;
    }

    &.add-task {
      width: calc(100% - 32px - 16px);
      bottom: 24px;
      position: absolute;
    }
  }

  a:first-child .menu {
    margin-top: 0;
  }

  .separater {
    height: 16px;
  }
}

main {
  width: calc(100vw - 200px - 32px);
  top: 0;
  right: 0;
  position: absolute;
  padding-top: $title-bar-size + $title-bar-padding + 24px;
  padding-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;

  h1 {
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    padding: 0;
    margin: 0;
  }

  h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    padding: 0;
    margin: 0;
  }

  .container {
    margin-top: 24px;

    &.hidden {
      .todo {
        display: none;
      }

      .toggle:before {
        content: "ú";
      }
    }
  }

  .header {
    display: flex;
    padding-bottom: 8px;
    border-bottom: 1px solid #F5F5F5;

    .toggle {
      margin-right: 8px;
      font-size: 10px;
      line-height: 21px;
      font-family: CONDENSEicon;
      cursor: pointer;

      &:before {
        content: "û";
      }
    }
  }

  .todo {
    padding: 8px;
    margin-top: 8px;
    font-size: 10px;
    font-weight: bold;
    line-height: 12px;
    user-select: text;
    display: flex;
    position: relative;
    cursor: pointer;

    &.done {
      .strike {
        width: calc(100% - 16px);
        height: 1px;
        background: #3C3C3C;
        top: 50%;
        position: absolute;
        margin-top: -0.5px;
      }

      .warning, .priority {
        display: none;
      }
    }

    .warning {
      display: none;
    }

    &.expired {
      .warning {
        color: #FE4C48;
        margin-right: 8px;
        display: block;
      }
    }

    .text {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: pre;
      margin-right: 8px;
    }

    .priority {
      font-family: CONDENSEicon;
      font-weight: normal;
      margin-left: auto;
    }
  }
}
